<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /mglsi_news/

    # Autoriser l'accès direct aux fichiers statiques
    RewriteCond %{REQUEST_URI} !^/mglsi_news/(css|images|js)/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Rediriger toutes les autres requêtes vers index.php
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

# Autoriser l'accès aux fichiers statiques
<FilesMatch "\.(css|js|jpg|jpeg|png|gif|ico)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>